# ==========================================
# C / C++ & Visual Studio
# ==========================================
.vs/
Debug/
Release/
x64/
x86/
*.exe
*.obj
*.pdb
*.user

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# ==========================================
# Java & IDEs (IntelliJ, Eclipse, VS Code)
# ==========================================
*.class
*.jar
*.war
bin/
build/
.gradle/
.idea/
*.iml
# 수정 후 (.classpath와 .project는 Git에 올라가도록 주석 처리)
.settings/
#.classpath
#.project

# OS / System
*.pem
.DS_Store
Thumbs.db